body{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2%;
}

.form-create{
    display: flex;
    flex-direction: column;
}

.form-create > div{
    margin: 6px;
    width: 35%;
}

.div-name{
    display: flex;
    justify-content: space-between;
}

.sub-div{
    width: 48%;
}

#contacto{
    width: 41%;
}

.right-column{
    position: relative;
    overflow: auto;
    height: 600px;
}

.left-column{
    overflow:auto;
    height: 600px;
}

h1{
    padding-left: 10px;
}
 
.grid-layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
}

body{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2%;
}

.grid-1row{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #f4f7f7;
}

.grid-2row{
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-3row{
    text-align: center;
    background-color: #f4f7f7;
}