<div class="right-col">
    <h3 class="title">Alterar Palavra-Chave</h3>
    <form [formGroup]="form" class="flex-style">
<mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" placeholder="Palavra-Passe Antiga" [errorStateMatcher]="customErrorStateMatcher" 
    formControlName="oldpassword" required [(ngModel)]="passField.oldPassword" matInput />
    <mat-error>Campo tem de ter no minimo 8 caracteres.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" placeholder="Nova Palavra-Passe" [errorStateMatcher]="customErrorStateMatcher" 
        formControlName="newpassword1" required [(ngModel)]="passField.password" matInput />
        <mat-error>Campo tem de ter no minimo 8 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" placeholder="Nova Palavra-Passe" [errorStateMatcher]="customErrorStateMatcher" 
            formControlName="newpassword2" required [(ngModel)]="passField.newpassword1" matInput />
            <mat-error>Campo tem de ter no minimo 8 caracteres.</mat-error>
            </mat-form-field>
            <button (click)="updatePassWord()" mat-raised-button class="btn-submit">Guardar Alterações</button>
        </form>
</div>
