
.btn-submit{
    background-color: #e41a15;
    color: white;
}

.btn-submit:hover{
    opacity: 90%;
}

.flex-style{
    display: flex;
    flex-direction: column;
}

.title{
    font-family: Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(33, 49, 60);
}

.right-col{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 5%;
  }