table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

  h3{
    font-size: 20px;
    font-family: Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(33, 49, 60);
    font-weight: bold;
    border-bottom: 1px solid rgb(33, 49, 60);;
  }

  mat-icon:hover{
    cursor: pointer;
    opacity: 80%;
    
  }

  mat-icon{
    padding-right: 10px;
    padding-top: 10px;
  }