<div class="right-col">
    <h3 class="title">Atualizar Perfil</h3>
    <form [formGroup]="form" class="flex-style">
        <mat-form-field>
          <mat-label>Primeiro Nome</mat-label>
          <input matInput [errorStateMatcher]="customErrorStateMatcher" formControlName="fname" type="text" [(ngModel)]="newUser.fname" required/>
          <mat-error>Campo de Preenchimento Obrigatório.Não são permitidos digitos(0-9) e máximo de 50 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Segundo Nome</mat-label>
          <input type="text" [errorStateMatcher]="customErrorStateMatcher" formControlName="lname" required [(ngModel)]="newUser.lname" matInput />
          <mat-error>Campo de Preenchimento Obrigatório.Não são permitidos digitos(0-9).</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contacto</mat-label>
          <input type="number" [errorStateMatcher]="customErrorStateMatcher" formControlName="contact" required  [(ngModel)]="newUser.contact" matInput />
          <mat-error>Campo tem de ter exatamente 9 digitos.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" [errorStateMatcher]="customErrorStateMatcher" formControlName="email" required [(ngModel)]="newUser.email" matInput />
          <mat-error>Email inválido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>NIF</mat-label>
          <input type="number" [errorStateMatcher]="customErrorStateMatcher" formControlName="nif" required [(ngModel)]="newUser.nif" matInput />
          <mat-error>Campo tem de ter exatamente 9 digitos.</mat-error>
        </mat-form-field>
        <button (click)="updateUser()" mat-raised-button class="btn-submit">Guardar Alterações</button>
      </form>
</div>
