.right-col{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 5%;
  }
  
  .flex-style{
    display: flex;
    flex-direction: column;
  }
  
  .btn-submit:hover{
    opacity: 90%;
  }
  
  .btn-submit{
    background-color: #e41a15;
    color: white;
  }
  
  .title{
    font-family: Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(33, 49, 60);
  }

  .file-upload{
    padding-top: 15px;
    padding-bottom: 15px;
  }
    
.file-input {
  display: none;
}

.attach{
  background-color: white;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
}

.lbl-attach{
  font-size: small;
}